<a href="https://colab.research.google.com/github/Rusifix/TestTask/blob/main/%22%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5%D0%9D%D0%B0%D0%94%D0%BE%D0%BCSber%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

SQL1
Нужно вывести главу отдела, чей сотрудник получает самую большую зарплату, на текущий момент

employees - Таблица
- head - глава отдела (хэды уникальны)
- employee - сотрудник (сотрудники уникальны)

salaries - Таблица
- employee - сотрудник (сотрудники уникальны)
- salary - зарплата
- date - дата обновления зарплаты

Используй онлайн SQL интерпретатор (например https://sqliteonline.com/)

In [ ]:
CREATE TABLE salaries(
   employee VARCHAR(5)
  ,salary   INT
  ,date     DATE
);
INSERT INTO salaries(employee,salary,date) VALUES ('tom','2342','2023-01-14');
INSERT INTO salaries(employee,salary,date) VALUES ('tom','2345','2023-03-17');
INSERT INTO salaries(employee,salary,date) VALUES ('nick','5424','2022-04-01');
INSERT INTO salaries(employee,salary,date) VALUES ('nick','5500','2023-02-30');
INSERT INTO salaries(employee,salary,date) VALUES ('juli','4566','2021-04-03');
INSERT INTO salaries(employee,salary,date) VALUES ('juli','6000','2024-01-12');
INSERT INTO salaries(employee,salary,date) VALUES ('axel','12444','2022-05-17');
INSERT INTO salaries(employee,salary,date) VALUES ('axel','14000','2023-11-12');
INSERT INTO salaries(employee,salary,date) VALUES ('henry','1244','2021-03-19');
INSERT INTO salaries(employee,salary,date) VALUES ('henry','7000','2023-02-09');
INSERT INTO salaries(employee,salary,date) VALUES ('tomas','2345','2024-02-02');
INSERT INTO salaries(employee,salary,date) VALUES ('tomas','4000','2024-02-09');
INSERT INTO salaries(employee,salary,date) VALUES ('fiona','1000','2023-07-31');
INSERT INTO salaries(employee,salary,date) VALUES ('fiona','1200','2024-01-29');
INSERT INTO salaries(employee,salary,date) VALUES ('ben','1244','2021-12-14');
INSERT INTO salaries(employee,salary,date) VALUES ('ben','7001','2023-03-27');
INSERT INTO salaries(employee,salary,date) VALUES ('shen','6000','2022-02-18');
INSERT INTO salaries(employee,salary,date) VALUES ('shen','7001','2024-01-28');
INSERT INTO salaries(employee,salary,date) VALUES ('lora','4050','2023-08-30');
INSERT INTO salaries(employee,salary,date) VALUES ('lora','7400','2024-01-19');


CREATE TABLE employees(
   head     VARCHAR(6)
  ,employee VARCHAR(5)
);
INSERT INTO employees(head,employee) VALUES ('donald','tom');
INSERT INTO employees(head,employee) VALUES ('olaf','nick');
INSERT INTO employees(head,employee) VALUES ('jacob','juli');
INSERT INTO employees(head,employee) VALUES ('donald','axel');
INSERT INTO employees(head,employee) VALUES ('olaf','henry');
INSERT INTO employees(head,employee) VALUES ('jacob','tomas');
INSERT INTO employees(head,employee) VALUES ('donald','fiona');
INSERT INTO employees(head,employee) VALUES ('olaf','ben');
INSERT INTO employees(head,employee) VALUES ('jacob','shen');
INSERT INTO employees(head,employee) VALUES ('doanld','lora');

SyntaxError: invalid syntax (<ipython-input-3-451ec7287725>, line 1)

In [ ]:
with top_salary as (
  select
    employee,
    max(salary)
  from salaries
  where date = (select max(date) over (partition by employee) from salaries )
  group by employee
)
select
  head
from employees emp
join top_salary ts
inner join ts.employee = emp.employee

Python1
Субд не работает, но при этом у тебя есть два файла employees.csv и salaries.csv, повтори задачу поиском главы отдела, чей сотрудник получает самую большую зарплату, на текущий момент на Python

In [ ]:
employees = [['donald', 'tom'],
             ['olaf', 'nick'],
             ['jacob', 'juli'],
             ['donald', 'axel'],
             ['olaf', 'henry'],
             ['jacob', 'tomas'],
             ['donald', 'fiona'],
             ['olaf', 'ben'],
             ['jacob', 'shen'],
             ['doanld', 'lora']]

employees = pd.DataFrame(employees, columns=['head', 'employee'])

salaries = [['tom', 2342, '2023-01-14'],
          ['tom', 2345, '2023-03-17'],

          ['nick', 5424, '2022-04-01'],
          ['nick', 5500, '2023-02-30'],

          ['juli', 4566, '2021-04-03'],
          ['juli', 6000, '2024-01-12'],

          ['axel', 12444, '2022-05-17'],
          ['axel', 14000, '2023-11-12'],

          ['henry', 1244, '2021-03-19'],
          ['henry', 7000, '2023-02-09'],

          ['tomas', 2345, '2024-02-02'],
          ['tomas', 4000, '2024-02-09'],

          ['fiona', 1000, '2023-07-31'],
          ['fiona', 1200, '2024-01-29'],

          ['ben', 1244, '2021-12-14'],
          ['ben', 7001, '2023-03-27'],

          ['shen', 6000, '2022-02-18'],
          ['shen', 7001, '2024-01-28'],

          ['lora', 4050, '2023-08-30'],
          ['lora', 7400, '2024-01-19']]

salaries = pd.DataFrame(salaries, columns=['employee', 'salary', 'date'])

In [ ]:
top_salary = salaries.sort_values('date', ascending=False).groupby('employee', as_index=False).agg({'salary':'max'})
result_df = pd.merge(employees, top_salary, on='employee', how='inner')
result_df = result_df.sort_values('salary', ascending=False)
result_df.head(1)

     head employee  salary
3  donald     axel   14000

Python2 Напиши функцию парсер авито, которая принимает на вход марку и модель автомобиля и возвращает датафрейм с подходящими объявлениями в Москве. В датафрейме должны быть название объяления, ссылка на его страницу и цена. Разрешается использовать любые библиотеки для парсинга.

In [ ]:
from bs4 import BeautifulSoup
import requests

def pars_avito(brend, model):
  url = f'https://www.avito.ru/avtomobili?q={brend}/{model}'
  request = requests.get(url)
  bs = BeautifulSoup(request.text, 'html.parser')
  all_links = bs.find_all('a', class_='styles-module-root-YeOVk styles-module-root_noVisited-MpiGq')
  name = []
  link = []
  price = []
  for link in all_links:
    new_request = requests.get('https://www.avito.ru/' + link['href'])
    new_bs = BeautifulSoup(new_request.text, 'html.parser')
    link.append('https://www.avito.ru/' + link['href'])
    name.append(new_bs.find('h1'))
    price.append(new_bs.find('span',class_='styles-module-size_xxxl-MrhiK'))
  cars_df = pd.DataFrame({'Name':name,
                        'Link_on':link,
                        'Price':price})
  return cars_df

[]